# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
build/
.out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs and editors
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Vercel
.vercel

# PWA generated assets
public/pwa-*.png
public/apple-touch-icon-*.png
public/maskable-icon-*.png

# OS files
Thumbs.db
